/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/cache/config.php

composer.lock
.gitignore
storage/logs/laravel.log
